.comments-wrapper{}
.comments-wrapper .gsc-comments{
  display: none;
  background-color: red;
}
.comments-wrapper button {
  background-color: red;
}
.comments-wrapper button[aria-label="Add +1 reaction"] {
  display: none;

}
.kk {
  color: green;
}