div[class^='announcementBar'], div[class*=' announcementBar'] {
    text-align: left;
    height: fit-content;
    padding: 0 0 0 0;
    background: linear-gradient(90deg, rgba(231, 255, 0, 0) -0.01%, #00DDB3 100%);

    backdrop-filter: blur(12px);
}

div[class^='announcementBar'] p, div[class*=' announcementBar'] p {
    font-size: 13px;
    color: #000000;
    margin-bottom: 0;
    padding: 0 20px 0 20px;
    background: linear-gradient(90deg, rgba(0, 221, 179, 0) -0.01%, #FF005D 125%);
}