/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #3465a4;
  --ifm-color-primary-dark: #2f5b94;
  --ifm-color-primary-darker: #2c568b;
  --ifm-color-primary-darkest: #244773;
  --ifm-color-primary-light: #396fb4;
  --ifm-color-primary-lighter: #3c74bd;
  --ifm-color-primary-lightest: #396fb4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /*--ifm-font-family-monospace: "Fira Code", monospace;*/
  --ifm-font-size-base: 95%;
  --ifm-code-font-size: 90%;

  --ifm-background-color: var(--ifm-color-emphasis-0) !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #729fcf;
  --ifm-color-primary-dark: #bad0e7;
  --ifm-color-primary-darker: #96b7db;
  --ifm-color-primary-darkest: #8aafd7;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Override --ifm text-decoration */
a:any-link:hover {
  text-decoration: none;
}
/* Copied from working instance */

h1, h2, h3, h4, h5, h6 {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.theme-api-markdown pre {
  margin-bottom: 1rem;
}

h1 { font-size: var(--ifm-h1-font-size); }
h2 { font-size: var(--ifm-h2-font-size); }
h3 { font-size: var(--ifm-h3-font-size); }
h4 { font-size: var(--ifm-h4-font-size); }
h5 { font-size: var(--ifm-h5-font-size); }
h6 { font-size: var(--ifm-h6-font-size); }

/* Medium Header Link */
.header-medium-link:hover {
  opacity: 0.6;
}

/* Blog icon */
.header-medium-link:before {
  content: "\f37d";
  font-family: "Font Awesome 5 Brands";
  font-size: x-large;
}

/* Center all columns in main wrapper */
.main-wrapper {
  max-width: 1400px;
  width: 1400px;
  align-self: center;
}

.main-wrapper h1[class^="docTitle"] {
  font-size: 2.8rem;
}

@media (max-width: 1416px) {
  .main-wrapper {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1320px) and (min-width: 997px) {
  .container {
    max-width: calc(
            var(--ifm-container-width) - 125px - var(--ifm-spacing-horizontal) * 2
    );
  }
}

/* Center navbar items */
.navbar__inner {
  max-width: 1360px;
  margin: 0 auto;
}

.navbar__item svg{
  display: inline;
}

a {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
}

.theme-edit-this-page{
  display: flex;
}

.imgBanner {
  border: 3px solid #fff;
  border-radius: 12px;
  max-width: 250px;
  width: 250px;
}