/* Openapi Markdown */

.markdown {
    --ifm-h1-vertical-rhythm-top: 3;
    --ifm-h2-vertical-rhythm-top: 2;
    --ifm-h3-vertical-rhythm-top: 1.5;
    --ifm-heading-vertical-rhythm-top: 1.25;
    --ifm-h1-vertical-rhythm-bottom: 1.25;
    --ifm-heading-vertical-rhythm-bottom: 1;
}

.markdown h1:first-child {
    margin-top: 0;
    font-size: 2.5rem;
}

.markdown h1 {
    padding-top: 30px;
    border-top: 1px dotted #bbb;
    margin-top: 35px;
}

.markdown h2, .markdown h3{
    padding-top: 20px;
}

.markdown h4 {
    padding-top: 15px;
}

.markdown li, body {
    word-wrap: break-word;
}


.markdown ul, .markdown ol {
    line-height: var(--voc-line-height);
}

.markdown li {
    text-align: justify;
}


.markdown p {
    margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

.markdown ol, .markdown ul {
    margin: 0 0 var(--ifm-paragraph-margin-bottom) 30px;
}

.markdown hr {
    background-color: var(--ifm-hr-background-color);
    border: 0;
    height: var(--ifm-hr-height);
    margin: var(--ifm-hr-margin-vertical) 0;
}

.markdown [class^="codeBlock"] > pre {
    margin-bottom: 0;
}

.docusaurus-mermaid-container{
    margin: 50px 10px;
}

/*:root {*/
/*  --neutral-500: #52606d;*/
/*  --neutral-700: #323f4b;*/
/*}*/

/*.markdown {*/
/*  font-family: 'Manrope';*/
/*  font-style: normal;*/
/*  font-weight: 500;*/
/*  font-size: 1rem;*/
/*  color: var(--neutral-500);*/
/*}*/

/*.markdown > * > h1 {*/
/*  font-size: 2.1775rem;*/
/*  font-weight: 700;*/
/*  color: var(--neutral-700);*/
/*  margin-bottom: 8px !important;*/
/*}*/

/*.markdown > h2 {*/
/*  font-weight: 500;*/
/*  font-size: 1.25rem;*/
/*  margin: 0;*/
/*  margin-bottom: 48px;*/
/*  color: var(--neutral-500);*/
/*}*/

/*.markdown > h3 {*/
/*  font-weight: 700;*/
/*  font-size: 1.25rem;*/
/*  color: var(--neutral-700);*/
/*  margin: 0;*/
/*  margin-bottom: 16px;*/
/*}*/

/*.markdown > h4 {*/
/*  font-weight: 700;*/
/*  font-size: 1rem;*/
/*  color: var(--neutral-700);*/
/*  margin: 0;*/
/*  margin-bottom: 16px;*/
/*}*/

/*.markdown > p {*/
/*  margin: 0;*/
/*  margin-bottom: 16px;*/
/*}*/


/*.table-cell-positive {*/
/*  color: green;*/
/*}*/

/*.table-cell-neutral {*/
/*  color: gold;*/
/*}*/

/*.table-cell-negative {*/
/*  color: red;*/
/*}*/

/*.center-column {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  margin-bottom: 16px;*/
/*}*/

/*.caption {*/
/*  font-size: 0.75rem;*/
/*  margin-left: 10pc;*/
/*  margin-right: 10pc;*/
/*}*/
